.navbar {
  background-color: rgb(151, 245, 151) !important;
}

.quem-são {
  background-color: rgb(185, 172, 253) !important;
}
.margin {
  padding-top: 10px;
  padding-bottom: 10px;
}

.supermaes {
  background-color: rgb(105, 214, 137);
}

.siteoriginal {
  background-color: rgb(76, 226, 236);
}
